<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="errorAppender" class="ch.qos.logback.core.FileAppender">
    <!--http://logback.qos.ch/manual/filters.html#levelFilter-->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <file>${catalina.home}/logs/ariadna_error.log</file>
    <encoder>
      <Pattern>%date %level %logger{10} [%file:%line] %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="messagesAppender" class="ch.qos.logback.core.FileAppender">
    <file>${catalina.home}/logs/ariadna_messages.log</file>
    <encoder>
      <Pattern>%date %level %logger{10} [%file:%line] %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="org.springframework.integration.handler.LoggingHandler" level="DEBUG" additivity="true">
    <appender-ref ref="messagesAppender"/>
    <appender-ref ref="errorAppender"/>
  </logger>
  <logger name="mis.integration.ariadna" level="DEBUG" additivity="true">
    <appender-ref ref="messagesAppender"/>
    <appender-ref ref="errorAppender"/>
  </logger>

  <!-- Root -->
  <root level="INFO">
    <appender-ref ref="consoleAppender"/>
  </root>

</configuration>